<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataTable模块</title>
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/DataTables-V1.10.18/DataTables-1.10.18/css/dataTables.bootstrap.css">
{#    <link rel="stylesheet" type="text/css" href="/static/plugins/DataTables-1.10.15/css/jquery.dataTables.css">#}
    {# custom stylesheet   #}
    <link rel="stylesheet" type="text/css" href="/static/app/css/datatables/demo02.css">

    <script type="text/javascript" src="/static/3rdLibs/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/plugins/DataTables-V1.10.18/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/plugins/DataTables-V1.10.18/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>

</head>
<body>
<div style="margin-bottom: 20px;">
    <a href="/">返回索引页</a>
</div>
<div class="table-box">
    <div>
        <table id="table_id_01" class="table table-striped table-bordered">
            <caption>数据源类型：数组</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>
        </table>
    </div>
    <div>
        <table id="table_id_02" class="table table-striped table-bordered">
            <caption>数据源类型：对象</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>

<script src="/static/app/js/datatables/demo02.js"></script>

</html>