<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载测试</title>
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables-1.10.18/datatables.css">

    <script type="text/javascript" src="/static/3rdLibs/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/3rdLibs/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables-1.10.18/datatables.js"></script>
</head>
<body>
    <div style="width: 50%;margin: auto;">
        <table id="example_01" style="width: 100%;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>
        </table>
    </div>
</body>

<script>
    $(document).ready(function () {
        $("#example_01").DataTable({
            ajax: "/static/datas/datatable_object.js",
            columns: [
                {data: "name"},
                {data: "position"},
                {data: "office"},
                {data: "extn"},
                {data: "start_date"},
                {data: "salary"}
            ]
        });
    });
</script>
</html>